.onecaptcha-header {
	display: flex;
	background-color: #ffffff;
	margin-left: -20px;
	padding: 0 15px;

	.onecaptcha-extra {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.onecaptcha-version {
			padding: 5px 10px;
			background-color: #f1f1f1;
			color: #000000;
			border-radius: 5px;
			border: 1px solid #fcfcfc;
		}
	}
}
.onecaptcha-main {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	flex-direction: row; /* Default: Horizontal layout */
  	gap: 20px;
	width: 100%;

	.onecaptcha-content {
		background-color: #ffffff;
		padding: 0 20px;
		width: 75%;

		.onecaptcha-fields-group {
			display: none;

			&.active {
				display: table-row;
			}

			.onecaptcha-field{
				margin-bottom: 20px;

				.onecaptcha-field-label {
					display: block;
					font-weight: bold;
					margin-bottom: 5px;
				}

				.onecaptcha-field-input {
					margin-bottom: 5px;
					width: 100%;
				}

				.onecaptcha-field-description {
					font-style: italic;
					margin-bottom: 5px;
				}
			}
		}
	}

	.onecaptcha-sidebar {
		width: 25%;
		background-color: #ffffff;
		margin-right: 20px;
		padding: 20px;
	}
}
